body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(4.png);
    background-size: cover;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #0f0f0f; /* White text */
}

.card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Shaded blue */
}

.card h2 {
    margin-top: 0;
    color: #301fea; /* Dark blue text */
}

.card p {
    color: #000000; /* Dark blue text */
}

.card a {
    color: #007bff;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}
